<div *ngIf="courses.length === 0" class="empty-state">
    <p>No hay cursos registrados.</p>
</div>

<div *ngFor="let course of courses" class="card">
    <h3>{{ course.name }}</h3>
    <p>Duración: {{ course.duration }} horas</p>
    <p>Nivel: {{ course.level }}</p>
    <p>Estado: <span
            [ngClass]="{'activo': course.status==='activo', 'inactivo': course.status==='inactivo'}">{{
            course.status }}</span></p>
    <app-action-button text="Cambiar estado curso"
        (action)="toggleStatus(course.id)"></app-action-button>

    <app-action-button text="Eliminar curso"
        (action)="deleteCourse(course.id)" variant="danger"></app-action-button>
</div>
